body {
    font-family: "Caveat Brush", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}


h1 {
    border: solid #fee59a;
    border-radius: 1em;
    margin-top: 20px;
}

h2 {
    font-size: 17px;
}

.caption {
    margin-top: 0.5em;
    background-color: #fee59a;
}